<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas beta Heroku</title>
</head>
<body>
    <h1>Esta es una web de pruebas para el ingreso de datos</h1>
    <p id="primero">
        Con esta aplicación deplegada podemos pasar datos a postgresql a través de la url y sacar los datos registrados en ella
    </p>   
    <h2>Métodos permitidos para ingresar/sacar datos</h2>
    <ul>
        <li>/clientes -> devuelve todos los datos registrados en BD</li>
        <li>/insert cliente -> registra un dato pasado como json con clave 'nombre' y 'empresa'</li>
        <li>/heroku_insert/nombre/empresa -> inserta datos a través de la url</li>
        <li>/cliente/id -> devuelve el registro a través de la id pasada por parámetro en la url</li>
        <li>/delete_client/id -> elimina un registro pasando como parámetro la id</li>
    </ul> 
</body>
</html>